periodics:
  - cron: "0 3 * * *"  # At 03:00
    name: ci-test-infra-label-sync
    labels:
      app: label-sync
    decorate: true
    spec:
      containers:
        - name: label-sync
          image: gcr.io/k8s-prow/label_sync:v20231103-74dcf8db5c
          command:
            - label_sync
          args:
            - --config=/etc/config/labels.yaml
            - --confirm=true
            - --orgs=halo-dev
            - --token=/etc/github/token
            - --endpoint=http://ghproxy.default.svc.cluster.local
            - --endpoint=https://api.github.com
            - --debug
          volumeMounts:
            - name: oauth
              mountPath: /etc/github
              readOnly: true
            - name: config
              mountPath: /etc/config
              readOnly: true
      volumes:
        - name: oauth
          secret:
            secretName: github-token
        - name: config
          configMap:
            name: label-config
